WIP/Aiken_tst.txt
tmp.mml
WIP/CalculusProblems.zip
WIP/Exponents Differentiation.txt
WIP/Exponents Integration.txt
WIP/Polynomial Differentiation.txt
WIP/Polynomial Integration.txt
WIP/Trigonometric Differentiation.txt
WIP/Trigonometric Integration.txt
WIP/template.json
WIP/tmp.mml
WIP/__pycache__/MathMl2LaTeX.cpython-36.pyc
WIP/__pycache__/MathMl2LaTeX.cpython-37.pyc
WIP/__pycache__/ProblemReceiver.cpython-36.pyc
WIP/__pycache__/Problem_reformat.cpython-36.pyc
WIP/__pycache__/latex2pdf.cpython-37.pyc
WIP/__pycache__/regex_gen.cpython-36.pyc
WIP/mathml_2_latex/README
WIP/mathml_2_latex/cmarkup.xsl
WIP/mathml_2_latex/entities.xsl
WIP/mathml_2_latex/glayout.xsl
WIP/mathml_2_latex/input.mml
WIP/mathml_2_latex/mmltex.xsl
WIP/mathml_2_latex/scripts.xsl
WIP/mathml_2_latex/tables.xsl
WIP/mathml_2_latex/tokens.xsl
