/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

body {
    font-family: "Roboto Slab";
    margin:0;
    padding:0;
}

.navbar-nav li a {
    padding:20px;
}

.navbar {
    margin: 0;
}

h1 {

    font-size: 80pt;

}
#formstyle1 {
    background-color: rgba(70, 71, 71, 0.705);
    color: #e9e9e9;
    font: 16pt "Roboto Slab";
}

#titlestyle1 {
    background-color: rgba(1, 82, 1, 0.89);
    color: #e9e9e9;
    font-size: 25px;
    font-family: "Roboto Slab"; 
}

#pagestyle1 {
    background-color: rgba(1, 82, 1, 0.89);
    color: #e9e9e9;
    /*font: 20pt "Roboto Slab"*/;
    padding-top: 70px;
    padding-bottom: 70px;
}
#pagestyle2 {
    background-color: rgba(87, 9, 48, 0.89);
    color: #e9e9e9;
    font-size: 20pt;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footerId {
    background-color: rgba(39, 39, 39, 0.89);
    color: #e9e9e9;
    font: 12pt sans-serif;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.center_div {
    margin: 0 auto;
    text-align: center;
    /*width:40%; value of your choice which suits your alignment */
}

.center_button {
    
    margin: 0 auto;
    text-align: center;
    /*width:40%;*/
    /*display: table;*/
}
.center_button_old {

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:950px;
    color: #fff;
    padding-top:230px;
}
::placeholder {

    color: white !important;
    opacity: 1;
}
