body {
    margin:0;
    padding:0;
    font-family: 'Roboto Slab';
}

.navbar-nav {
    font-size:22px;
}

p {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 100;
    text-align: center;
}

.navbar-nav li a {
    padding:20px;
}

.navbar {
    margin: 0;
}

.title {
    background-image: url('/static/blackboard_1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 850px;
    color: #fff;
    padding-top:230px;
}

.navbar-brand {
    margin-top: 5px;
    color:#ffffff;
    font-size:30px;
}

.footer {
    width: 100%;
    background-color: #666677;
    padding: 15px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
}

/*.container-fluid {*/
/*    width: 80%;*/
/*}*/

.title-text p {
    margin: 0;
    font-size:45px;
    text-align: center;
}

h1 {
    font-size: 85px;
}

h2 {
    text-align: center;
    font-weight: 100;
    font-size: 40px;
}

.body-block {
    font-family: 'Roboto';
    object-position: center;
    padding-top: 100px;
    padding-bottom: 150px;
}

.divider-line {
    margin:35px auto;
    background-color: #d8d827;
    height: 4px;
    width: 50px;

}

.title-divider-line {
    max-width: 600px;
    background-color: #fff;
    height: 2px;
    margin: 30px auto;
}

.grey-back {
    background-color: #485F6E;
    color: #fff;
}

h3 {
    text-align: center;
    font-size:45px;
    width: 70%;
    display: inline-block;
}

.service i {
    margin: 10px;
    font-size: 80px;
    color: #fcfc2d;

}

.service {
    border: 1px solid #FFF;
    align-items: center;
    margin: 4%;
}

.service:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.service-container {
    padding: 10px;
}

.service p {
    font-weight: 100;
    margin-top: 20px;
    padding: 5px;
}

.service a {
    color: inherit;
}

.service a:hover {
    text-decoration: none;
}

img {
    border-radius: 50%;
    width: 100%;
    margin-top: 30px;
}

#team p {
    text-align: left;
}

#team .col-sm-3, .col-sm-9 {
    margin-top: 150px;
}

h4 {
    text-align: center;
    font-family: 'Roboto Slab';
}

.bank-account {
    text-align: center;
    width: 100%;
    font-family: 'Roboto Slab';
    margin-top: 50px;
}

.bank-account p {
    font-size: 30px;
    text-align: center;
}

.bank-account .account-number {
    background-color: #667;
    color: #fff;
}

.btn-outline-warning:hover {
    color: #fff;
}

.question-container {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.question-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.question-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.question-container input:checked ~ .checkmark {
    background-color: #F9CA11;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.question-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.question-container .checkmark:after {
    font-size: 35px;
    content: "✔";
    color: #fff;
    left: 11px;
    top: -10px;
    width: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}


.question h4,p{
    text-align: left;
}
.testing-form form li{
    margin-top: 100px;
    font-size: 30px;
}

.testing-form button {
    font-size: 20px;
    font-weight: 800;
    height: 50px;
    margin: 80px 33%;
    width: 34%;
}

.checkmark-disabled:after {
    position: absolute;
    display: block;
    width: 10px;
    border-width: 0 3px 3px 0;
}

.checkmark-disabled-wrong:after {
    font-size: 50px;
    content: "+";
    color: #FFFFFF;
    left: 10px;
    top: -25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chechmark-disabled-right:after {
    font-size: 35px;
    content: "✔";
    color: #fff;
    left: 11px;
    top: -10px;
    width: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

.checkmark-disabled {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.checkmark-disabled-wrong {
    background-color: #FF0000;
}

.chechmark-disabled-right {
    background-color: #00cc00;
}

#test_creation input {
    width: 95%;
    margin: 10px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

#test_creation label {
    margin: 10px;
}

#test_creation button {
    margin: 10px;
}

#test-creation option {
    width: 100%;
}

.question-type {
    width: 100%;
}

select {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 18px;
    border: 2px solid #cccccc;
}

.submission-button {
    text-align: center;
    width: 100%;
}

.submission-button button {
    font-size: 25px;
    padding: 5px;
    color: #555555;
    border-radius: 10px;
    border-width: 2px;
}

.question_field{
    font-size: 25px;
}

.question_block {
    margin-top: 70px;
}

.mathquill-editable {
    width: 95%;
    margin: 10px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.mathquill-form {
    width:95%;
    border: 1px solid #aaa;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.question-insert {
    margin-top: 50px;
}

.create-test-title {
    margin-top: 50px;
}

#title_label {
    padding-top: 30px;
    text-align: center;
    width: 100%;
    font-size: 25px;
}
body {
    min-height: 100vh;
}

.main_content {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.submission-message {
    text-align: center;
    padding-top:30vh;
}

.success {
    color: #5cd853;
}

.fail {
    color: #d82532
}

.filename {
    height: 75px;
    line-height: 75px;
    padding-left: 30px;
    font-size: 30px;
    background-color: #dddddd;
    width: 100%;
}

a .filename {
    color: #5cd853;
    margin-top: 10px;
    border-radius: 30px;
}

a:link {
    text-decoration: none;
}

a:hover .filename {
    color: #7cf873;
    text-decoration: none;
    background-color: #eeeeee
}