body {
    margin:0;
    padding:0;
    font-family: 'Roboto Slab';
}

.navbar-nav {
    font-size:22px;
}

p {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 100;
    text-align: center;
}

.navbar-nav li a {
    padding:20px;
}

.navbar {
    margin: 0;
}

.title {
    background-image: url('/static/blackboard_1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 850px;
    color: #fff;
    padding-top:230px;
}

.navbar-brand {
    margin-top: 5px;
    color:#ffffff;
    font-size:30px;
}

.footer {
    width: 100%;
    background-color: #666677;
    padding: 15px;
    color: #FFFFFF;
    text-align: center;
}

/*.container-fluid {*/
/*    width: 80%;*/
/*}*/

.title-text p {
    margin: 0;
    font-size:45px;
}

h1 {
    font-size: 85px;
}

h2 {
    text-align: center;
    font-weight: 100;
    font-size: 40px;
}

.body-block {
    font-family: 'Roboto';
    object-position: center;
    padding-top: 100px;
    padding-bottom: 150px;
}

.divider-line {
    margin:35px auto;
    background-color: #d8d827;
    height: 4px;
    width: 50px;

}

.title-divider-line {
    max-width: 600px;
    background-color: #fff;
    height: 2px;
    margin: 30px auto;
}

.grey-back {
    background-color: #485F6E;
    color: #fff;
}

h3 {
    text-align: center;
    font-size:45px;
    width: 70%;
    display: inline-block;
}

.service i {
    margin: 10px;
    font-size: 80px;
    color: #fcfc2d;

}

.service {
    border: 1px solid #FFF;
    align-items: center;
    margin: 4%;
}

.service:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.service-container {
    padding: 10px;
}

.service p {
    font-weight: 100;
    margin-top: 20px;
    padding: 5px;
}

.service a {
    color: inherit;
}

.service a:hover {
    text-decoration: none;
}

