<!DOCTYPE html>
<html lang="en" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="/static/int.ico" type="image/x-icon"/>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200|Roboto+Slab" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <title>Project Logos</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">Project Logos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tests
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Create new</a>
                        <a class="dropdown-item" href="/pass">Pass an existing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="header">
    <div class="text-center title">
        <div class="title-text">
            <p>Welcome to</p>
            <h1>Project Logos</h1>
            <div class="title-divider-line"></div>
        </div>
    </div>
</div>


<div class="main_body">
    <div class="body-block" id="about">
        <div class="container">
            <h2>About the project</h2>
            <div class="divider-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Habitasse platea dictumst quisque sagittis purus sit. Id interdum velit laoreet
                id donec ultrices tincidunt arcu non. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum a.
                Cras tincidunt lobortis feugiat vivamus. Varius sit amet mattis vulputate enim nulla aliquet
                porttitor lacus. Facilisi nullam vehicula ipsum a arcu cursus vitae. Id donec ultrices tincidunt
                arcu non sodales neque sodales. Viverra orci sagittis eu volutpat odio facilisis mauris sit.
                Suspendisse sed nisi lacus sed viverra. Iaculis at erat pellentesque adipiscing commodo elit at.
                Justo donec enim diam vulputate ut pharetra sit amet. Dolor morbi non arcu risus quis.
            </p>
        </div>
    </div>
    <div class="body-block grey-back">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Our Services</h2>
                    <div class="divider-line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 service">
                    <a href="#">
                        <div class="service-container">
                            <i class="fas fa-plus-square"></i>
                            <h3>Create a test</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore
                                et dolore magna aliqua. Habitasse platea dictumst quisque sagittis purus sit.</p>
                        </div>
                    </a>
                </div>
                <div class="service col-sm-5">
                    <a href="#">
                        <div class="service-container">
                            <i class="fas fa-pencil-alt"></i>
                            <h3>Pass a test</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore
                                et dolore magna aliqua. Habitasse platea dictumst quisque sagittis purus sit.
                                ipsum a</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="body-block" id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Our Team</h2>
                    <div class="divider-line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 member-photo">
                    <h4>Volodymyr</h4>
                    <img src="/static/mushroom.jpg">
                </div>
                <div class="col-sm-9">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Nisi est sit amet facilisis. In dictum non consectetur a erat
                        nam. Eu augue ut lectus arcu bibendum at. Eu turpis egestas pretium aenean pharetra magna ac.</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;Nec sagittis aliquam malesuada bibendum arcu. Ac tortor vitae purus faucibus ornare suspendisse
                        sed nisi lacus. Ultricies mi eget mauris pharetra et ultrices neque ornare aenean. Sed
                        ullamcorper morbi tincidunt ornare massa eget. Nisi vitae suscipit tellus mauris a. Tortor
                        dignissim convallis aenean et tortor at risus. Pellentesque id nibh tortor id aliquet lectus
                        proin nibh. Ante in nibh mauris cursus mattis molestie a iaculis. Nibh venenatis cras sed felis.

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 member-photo">
                    <h4>Denys</h4>
                    <img src="/static/puppy.jpg">
                </div>
                <div class="col-sm-9">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Nisi est sit amet facilisis. In dictum non consectetur a erat
                        nam. Eu augue ut lectus arcu bibendum at. Eu turpis egestas pretium aenean pharetra magna ac.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Nec sagittis aliquam malesuada bibendum arcu. Ac tortor vitae purus faucibus ornare suspendisse
                        sed nisi lacus. Ultricies mi eget mauris pharetra et ultrices neque ornare aenean. Sed
                        ullamcorper morbi tincidunt ornare massa eget. Nisi vitae suscipit tellus mauris a. Tortor
                        dignissim convallis aenean et tortor at risus. Pellentesque id nibh tortor id aliquet lectus
                        proin nibh. Ante in nibh mauris cursus mattis molestie a iaculis. Nibh venenatis cras sed felis.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    &copy; Denys Datsko, Volodymyr Kuchynskyi
</div>
</body>
</html>