{% extends "layout.html" %}
{% block body %}
<div class="header">
    <div class="text-center title">
        <div class="title-text">
            <p>Welcome to</p>
            <h1>Project Logos</h1>
            <div class="title-divider-line"></div>
        </div>
    </div>
</div>


<div class="main_body">
    <div class="body-block" id="about">
        <div class="container">
            <h2>About the project</h2>
            <div class="divider-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Habitasse platea dictumst quisque sagittis purus sit. Id interdum velit laoreet
                id donec ultrices tincidunt arcu non. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum a.
                Cras tincidunt lobortis feugiat vivamus. Varius sit amet mattis vulputate enim nulla aliquet
                porttitor lacus. Facilisi nullam vehicula ipsum a arcu cursus vitae. Id donec ultrices tincidunt
                arcu non sodales neque sodales. Viverra orci sagittis eu volutpat odio facilisis mauris sit.
                Suspendisse sed nisi lacus sed viverra. Iaculis at erat pellentesque adipiscing commodo elit at.
                Justo donec enim diam vulputate ut pharetra sit amet. Dolor morbi non arcu risus quis.
            </p>
        </div>
    </div>
    <div class="body-block grey-back">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Our Services</h2>
                    <div class="divider-line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 service">
                    <a href="/create_test">
                        <div class="service-container">
                            <i class="fas fa-plus-square"></i>
                            <h3>Create a test</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore
                                et dolore magna aliqua. Habitasse platea dictumst quisque sagittis purus sit.</p>
                        </div>
                    </a>
                </div>
                <div class="service col-sm-5">
                    <a href="/pass">
                        <div class="service-container">
                            <i class="fas fa-pencil-alt"></i>
                            <h3>Pass a test</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore
                                et dolore magna aliqua. Habitasse platea dictumst quisque sagittis purus sit.
                                ipsum a</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="body-block" id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Our Team</h2>
                    <div class="divider-line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 member-photo">
                    <h4>Volodymyr</h4>
                    <img src="/static/mushroom.jpg" class="developer-photo">
                </div>
                <div class="col-sm-9">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Nisi est sit amet facilisis. In dictum non consectetur a erat
                        nam. Eu augue ut lectus arcu bibendum at. Eu turpis egestas pretium aenean pharetra magna ac.</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;Nec sagittis aliquam malesuada bibendum arcu. Ac tortor vitae purus faucibus ornare suspendisse
                        sed nisi lacus. Ultricies mi eget mauris pharetra et ultrices neque ornare aenean. Sed
                        ullamcorper morbi tincidunt ornare massa eget. Nisi vitae suscipit tellus mauris a. Tortor
                        dignissim convallis aenean et tortor at risus. Pellentesque id nibh tortor id aliquet lectus
                        proin nibh. Ante in nibh mauris cursus mattis molestie a iaculis. Nibh venenatis cras sed felis.

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 member-photo">
                    <h4>Denys</h4>
                    <img src="/static/puppy.jpg" class="developer-photo">
                </div>
                <div class="col-sm-9">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Nisi est sit amet facilisis. In dictum non consectetur a erat
                        nam. Eu augue ut lectus arcu bibendum at. Eu turpis egestas pretium aenean pharetra magna ac.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Nec sagittis aliquam malesuada bibendum arcu. Ac tortor vitae purus faucibus ornare suspendisse
                        sed nisi lacus. Ultricies mi eget mauris pharetra et ultrices neque ornare aenean. Sed
                        ullamcorper morbi tincidunt ornare massa eget. Nisi vitae suscipit tellus mauris a. Tortor
                        dignissim convallis aenean et tortor at risus. Pellentesque id nibh tortor id aliquet lectus
                        proin nibh. Ante in nibh mauris cursus mattis molestie a iaculis. Nibh venenatis cras sed felis.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}