{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form action="/check_password" class="password_enter" method="post">
                    <label for="password">Enter the password for the test</label><input type="password" name="password"
                                                                                        id="password"
                                                                                        class="password_input">
                    <button class="btn btn-outline-warning" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}