{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <form action="/check_password" method="post">
                <label for="password">Enter the password for the test {{ title }}</label><input name="password"
                                                                                                id="password"
                                                                                                class="password_input">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}