<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/int.ico" type="image/x-icon"/>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200|Roboto+Slab" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <title>Project Logos</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">Project Logos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tests
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Create new</a>
                        <a class="dropdown-item" href="/pass">Pass an existing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="main-body">
    <div class="testing-form">
        <div class="container">
            <form action="/submit_test" method="post">
                <ol>
                    <li>
                        <div class="question" id="1">
                            <h4>Find x from this equality</h4>
                            <p class="question-text">Some latex text</p>
                            <label class="question-container">One
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="question-container">This is a little bit longer question and the m,ain purpose
                                of
                                this is to
                                test how the long text will be displayed
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="question-container">This is a little bit longer question and the m,ain purpose
                                of
                                this is to
                                test how the long text will be displayed
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </li>
                    {{ answer }}
                </ol>

            </form>
        </div>
    </div>
</div>
<div class="footer">
    &copy; Denys Datsko, Volodymyr Kuchynskyi
</div>
</body>
</html>