{% extends "layout.html" %}
{% block body %}
    <script src="/static/test_passing.js"></script>
    <div class="main-body">
        <div class="testing-form">`
            <h2 id="title">{{ title }}</h2>
            <div class="container">
                <form action="/submit_test" id="test_passing_form" method="post">
                    <ol>
                        {{ test }}
                    </ol>
                </form>
                <button class="btn btn-outline-warning" onclick="check_test()">Submit</button>
            </div>
        </div>
    </div>
{% endblock %}