{% extends "layout.html" %}
{% block body %}
    <div class="container ">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 tests-list">
                <button class="btn btn-outline-warning button-test-creation"
                        onclick="window.location.href = '/create_test';">
                    Create new test <i class="fas fa-feather-alt"></i>
                </button>
                <div class="divider-grey"></div>
                {% for file in files %}
                    <a href="/pass_test?filename={{ file }}.json">
                        <div class="filename">
                            <div class="test_name">{{ file }}</div>
                            <span class="to_pdf"><a class="to_pdf_link" href="/download_pdf/{{ file }}">PDF <i class="far fa-file-pdf"></i></a></span>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>


{% endblock %}