{% extends "layout.html" %}
{% block body %}
<script src="/static/test_creation.js"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="create-test-title">Create new test</h2>
            <form id="test_creation">
            </form>
        </div>
    </div>
    <button class="question-insert btn btn-outline-warning" onclick="insert_new_question();make_editable()">Insert new question</button>
    <br>
    <br>
    <div class="submission-button">
        <button class="submit btn btn-outline-warning" onclick="submit_form()">Submit the test</button>
    </div>
</div>
{% endblock %}